.eye {
}
.eye--open {
    background: radial-gradient(transparent 0%, black 65%) 50% 0;
    background-size: 200% 100%;
    z-index: 100;

    animation: eye_fade 4s 3s forwards, remove_height 0.01s 7s forwards;
}
.eye--closed {
    background: radial-gradient(transparent 0%, black 0%) 50% 0;
    background-size: 200% 100%;
    z-index: 99;

    animation: eye_blink 7s forwards, remove_height 0.01s 7s forwards;
}

@keyframes remove_height {
    to {
        height: 0;
    }
}

@keyframes eye_fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes eye_blink {
    0% {
        opacity: 1;
    }
    24% {
        opacity: 0;
    }
    36% {
        opacity: 1;
    }
    41% {
        opacity: 0;
    }
    46% {
        opacity: 1;
    }
    51% {
        opacity: 0;
    }
    56% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    85% {
        opacity: 0;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
