.flash_logo {
    position: absolute;
    bottom: 25%;
    right: 25%;

    width: 50%;
    height: 100%;
    max-width: 50%;
    max-height: 50%;

    z-index: 1001;

    fill: transparent;
    filter: drop-shadow(5px 4px var(--red-color)) drop-shadow(-5px -6px var(--blue-color));

    /* https://codepen.io/MisterGeckley/pen/exroQj UwU */
    stroke-dasharray: 1228.786865234375;
    stroke-dashoffset: 1228.786865234375;
    animation: line-anim 6s forwards;
}

#flash_logo__path {}

@keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes line-anim {
    50% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: 1228.786865234375;
    }
}


.flash_logo__hider {
    position: absolute;
    bottom: 25%;
    left: 25%;

    width: 400%;
    height: 400%;

    z-index: 1002;

    background:
            linear-gradient(30deg, black 10%, transparent 70%),
            linear-gradient(30deg, transparent 30%, black 90%);

    animation: flash_logo 3s linear forwards;
}
@keyframes flash_logo {
    to {
        bottom: -320%;
        left: -320%;
    }
}
