.flash_logo {
    position: absolute;
    bottom: 15px;
    right: 10px;

    width: 150px;
    height: 150px;
    max-width: 33%;
    max-height: 33%;

    z-index: 200;

    animation: fade 1s ease forwards 3s;
}

#flash_logo__path {
    /* https://codepen.io/MisterGeckley/pen/exroQj UwU */
    stroke-dasharray: 1228.786865234375;
    stroke-dashoffset: 1228.786865234375;
    animation: line-anim 3s forwards;
}

@keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes line-anim {
    50% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: 1228.786865234375;
    }
}
