.tr--wakeup {
    display: none;
}

.wake_up__trigger {
}
#wake_up__trigger--label {
    z-index: 1100;
    cursor: pointer;
    height: 0;

    animation: display_delayed 0.01s 2s forwards;
}
@keyframes display_delayed {
    from {
        height: 0;
    }
    to {
        height: 100%;
    }
}

#wake_up__trigger--input:checked ~ #wake_up__trigger--label {
    display: none;
}
#wake_up__trigger--input:checked ~ .tr--wakeup {
    display: unset !important;
}


#light__trigger--label {
    position: absolute;
    right: calc(30% - 3.3rem);
    top: 20rem;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;

    z-index: 90;
    cursor: pointer;
}
