/* https://codepen.io/vinogradov-am/pen/MWyWvOw <3 */
.book {
    position: absolute;
    bottom: 15px;

    width: 80px;
    box-shadow: 0 0 1px 2px rgba(0,0,0,0.2);

    z-index: -3;

    transition: bottom .25s, z-index .15s;
}
.book:hover {
    bottom: 50px;
}
#light__trigger--input:checked ~ .book {
    box-shadow: 0 60px 22px 10px rgba(0,0,0,0.7);
    z-index: 20;
}
.book__icon {
    position: relative;
    width: 30px;
    height: 30px;
    top: 25px;
    left: 25px;
}
.book__icon--personal {
    fill: #9d374f;
}
.book__icon--twitter {
    fill: rgb(29, 155, 240);
}
.book__icon--instagram {
    fill: beige;
}
.book__icon--github {
    fill: #363638;
}

.book--personal {
    right: calc(50% - (1 * 80px));
    height: 340px;
    background-color: #9d374f;
}

.book--twitter {
    right: calc(50% - (2 * 80px));
    height: 390px;
    background-color: rgb(29, 155, 240);
}

.book--instagram {
    right: calc(50% - (3 * 80px));
    height: 360px;
    background-color: beige;
}

.book--github {
    right: calc(50% - (4 * 80px));
    height: 325px;
    background-color: #363638;
}

.book::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 40px;
    background-color: #e9e6c9;
    top: 20px;
    left: 0;
}

.book::after {
    content: " ";
    width: 50%;
    height: 100%;
    background-color: black;
    opacity: 0.15;
    position: absolute;
    top: 0;
    right: 0;
}

.book_trigger__label {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    cursor: pointer;

    z-index: -3;
    transition: z-index .15s;
}
#light__trigger--input:checked ~ .book > .book_trigger__label {
    z-index: 21;
}
