@import "lamp.css";

.room {
}
.lightroom {
    background-color: black;
    opacity: .9;
    z-index: -2;
    /*animation: fade .15s forwards;*/
}

.wall {
    background: #ffc37f;
    z-index: -5;
}

.base {
    position: absolute;
    height: 15px;
    width: 100%;
    background: #5a3f21;
    bottom: 0;
    z-index: -4;
}

@keyframes fade {
    to {
        opacity: 0;
    }
}
