@import "lamp.css";
@import "tablet.css";
@import "plants.css";
@import "books.css";

.room {
}
.lightroom {
    background-color: black;
    opacity: .9;
    z-index: 30;

    transition: opacity .15s;
}
#light__trigger--input:checked ~ .lightroom {
    opacity: 0;
    animation: hide 0.01s forwards;
}

@keyframes hide {
    to {
        visibility: hidden;
    }
}

.wall {
    background: #ffc37f;
    z-index: -5;
}

.base {
    position: absolute;
    height: 15px;
    width: 100%;
    background: #5a3f21;
    bottom: 0;
    z-index: -4;
}
