.tablet {
    position: absolute;
    left: 33%;
    top: 20%;

    height: 320px;
    width: 220px;

    border: 20px solid #111;
    border-radius: 10px;
    background: #414141;
    box-shadow: 0 0 0 1px #000 inset;

    z-index: 0;

    transform: rotate(15deg);
    transform-origin: top center;

    transition: box-shadow .15s;
}
#light__trigger--input:checked ~ .wall > .tablet {
    box-shadow: 0 0 0 1px #000 inset, -26px 8px 2px 10px rgba(0,0,0,0.7);
}

.glass_crack {
    position: relative;
    top: -20px;
    left: -20px;

    width: 100px;
    height: 100px;
}
#glass_crack__path {
    stroke-width: 2;
    fill: rgba(0, 0, 0, 0.33);
}

.nail {

}

.time-app {

}
